<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" /> </configSections>
    <!-- PayPal SDK settings -->
    <paypal>
        <settings>
            <add name="mode" value="sandbox" />
            <add name="connectionTimeout" value="360000" />
            <add name="requestRetries" value="1" />
            <add name="clientId" value="AY1VP9Uy2J2Wdeu-7LvDMVfFlXH1ePAn-EYFwTk4gVpR423uB4r3_yaVFaWpb2qj_LmTHYzV9TEOdwuJ" />
            <add name="clientSecret" value="EITaaaN2ZbXauLQodEIIFxcknZ9x97pA0S7Zq5QtIWFXIxrKbUkorWtACu831dhxe8J2MgTnIkgd8a0M" /> </settings>
    </paypal>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        
    </appSettings>
</configuration>
